:root {
    --dark-grey: #1E1D1C;
    --dark-red: #E00007;
    --text-light: #FFFAE4;
    --text-dark: #000000;
}
  
body {
    background-image: linear-gradient(#1E1D1C,#E00007,#1E1D1C);
    padding: 0;
    margin: 0;
}

h2 {
    text-align: center;
    color: var(--text-light);
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 2rem;
    margin-bottom: 0;
}

h3 {
    font-size: 1.5rem;
    margin: 0;
}

.main-content {
    color: var(--text-dark);
}

/*----- Header -----*/

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--dark-grey);
    color: var(--text-light);
    padding: 10px;
    padding-left: 20px;
    margin: 0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

.header-heading {
    display: flex;
    gap: 10px;
    align-items: center;
}

#logo {
    height: 100px;
    border-radius: 5px;
}

.nav ul{
    display: flex;
    flex-direction: row;
}

.nav ul li {
    list-style: none;
}

.nav ul li a {
    display: inline-block;
    text-decoration: none;
    color: var(--text-light);
    padding: 10px;
    font-size: 1.5rem;
    transition: all 0.5s ease;
}

.nav ul li a:hover {
    color: var(--dark-red);
    transform: translateY(-5px);
}

/*----- Footer -----*/

.footer-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: var(--dark-grey);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

.footer-about {
    max-width: 500px;
}
.quick-links{
    display: flex;
    gap: 10px;
}

.quick-links img {
    height: 50px;
    background-color: var(--text-light);
    border-radius: 50%;
    padding: 4px;
    transition: all 0.3s ease;
}

.quick-links img:hover {
    transform: translateY(-5px);
    background-color: var(--dark-red);
}

/*----- Main Content Home Page -----*/

.lore-card {
    height: 600px;
    padding: 20px;
    margin: 20px;
    background-image: url('/images/parchment.png');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    background-size:  1500px 680px;
}

.lore-card-image img {
    position: relative;
    left: 700px;
    bottom: 275px;
}

.lore-card .card-info {
    position: relative;
    left: 160px;
    top: 100px;
}

.card-info {
    grid-area: info;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    width: 450px;
}

.card-image {
    grid-area: img;
}

.quest-card-image img, .lore-card-image img{
    height: 400px;
    border-radius: 5px;
}

.quest-card-image img {
    position: relative;
    left: 100px;
    bottom: 140px;
}

.quest-card .card-info {
    position: relative;
    left: 520px;
    top: 100px;
}

.quest-card {
    height: 600px;
    width: auto;
    padding: 20px;
    margin: 20px;
    background-image: url('/images/parchment-reverse.png');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    background-size: 1500px 680px;
}

.main-content button:hover {
  background-color: var(--dark-red);
  color: black;
}
